/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html{
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font-family: 'Cairo', sans-serif;
   
    direction: rtl;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Cairo', sans-serif;
    color: #333;
    direction: rtl;
    
  }
  a{
    text-decoration: none;
  }
  img, picture, canvas, svg {
    display: block;
    max-width: 100%;
  }
  ul,
  ul li{
     margin:0;
     padding: 0;
     text-indent: 0;
     list-style-type: none;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  .df{
    display: flex;
  }
  .jc-c{
    justify-content: center;
  }
  .jc-sb{
    justify-content: space-between;
  }
  .ai-c{
    align-items: center;
  }
  .g1{
    gap: 1rem;
  }
  .wrap {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }
  /*header */
  .header {
   max-height:200px ;
  background: #f4dbbb;
  position: fixed !important;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  }
  /*annoncment bar */

  .announcement-bar {
    overflow: hidden;
    
  }
  
  .sqs-announcement-bar-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    padding-block: .3rem;
    Overflow-wrap: break-word;
    width: 120%;
  }
  
  @-moz-keyframes scroll {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  @-webkit-keyframes scroll {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes scroll {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  
 

  /**/
  .logo img{
    width: 100%;
  
  }
  .list_header li {
    font-weight: bold;
    border: 2px solid #f19522;
    border-radius: 50px;
    padding: .8rem 1.3rem;
    color: #333;
    cursor: pointer;
  }
  .list_header li a{
    color: #333;
  }
  .list_header li:hover{
    background: #ffffffa4;
  }
  /*section 1   */
  .first{
    margin-top: 150px;

  }
  .hero{
   
    margin-block: 2rem;
    width: 100%;
    height: 600px;
    background: rgb(244,219,187);
    background: radial-gradient(circle, rgba(244,219,187,1) 0%, rgba(163,135,99,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: relative;
  }
  .img_container.empty{
    position: absolute;
    width: 200px;
    height: 80px;
    top: 0;
    left: 10%;
  }
  .txt_container{
    color: #ffffff;
    box-shadow: 1px 1px 0px 4px #f19522 ;
    position: absolute;
    right: 10%;
    padding: 1rem;
    font-size: 2rem;
    top: 10%;
    min-width: 200px;
    text-align: center;
   
  }
  .disc{
    top: auto;
    bottom: 1%;
    box-shadow: none !important;
  }
  /*category */
  .category_title,.product_title{
   padding-right: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background: #a48051;
    color: white;
    margin-block:1rem ;
  }
  .category_cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    text-align: center ;
  }
  .card{
    box-shadow: 0px 0px 10px #bdbdbd;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    
  }
  .card:hover{
    border: 2px solid #bdbdbd;
  }
  .card  img{
    object-fit: fill;
  }
  .card h3{
    margin-block: 1rem;
    
  }
  /*vedios */
  .vedio_container{
    margin-top: 2rem;
    background: rgb(17,128,167);
    background: linear-gradient(180deg, rgba(17,128,167,1) 0%, rgba(10,63,88,1) 100%);
    width: 100%;
    height: 600px;
  }
  .vedio_container video{
    width: 100%;
    height: 600px;
  }
  /*products */
  .product_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 0.3rem;
    
  }

  .pcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgb(207, 207, 207);
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: .3s;
    border: 2px solid transparent;
    position: relative;
  }
  .pcard:nth-child(2n):after{
    content: "تخفيض 50%";
    background: red !important;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: .3rem;
    border-radius: 0 5px 0 20px;
  }
  .pcard:hover{
    border:2px solid rgb(192, 192, 192);
  }
  .pcard div{
  width: 100%;
  }
  .pcard img{
    width: 100%;
   
    height: 200px;
    border-bottom: 1px solid grey;
  }
  .pcard span{
    color: rgb(207, 0, 0);
    font-weight: 400;
    
  }
  .pcard h3 {
    margin: 1rem;
  }
  .pricing img{
    width: 32px !important;
    height: 32px!important;
    cursor: pointer;

  }
  .pricing{
   
    width: 100%;
    padding: .3rem;
  }
  .show_more{
    border: 2px solid #a48051 ;
    padding: .5rem 3rem ;
    text-align: center !important;
    width: fit-content;
    margin: 2rem auto ;
    cursor: pointer;
    transition: .3s;

  }
  .show_more:hover{
    background: #a48051;
    color: white;
    
  }
  /*qr code */
  .qr_code{
   /*  margin-block: 2rem; */
  }
  .qr_code_element{
    box-shadow: 1px 1px 10px grey;
    padding: 1rem;
    font-size: large;
  }
  /*footer*/
  footer{
    padding: 2rem;
    background: #f4dbbb;
     display: flex;
    gap: 2rem;
    
  }
  
  footer >*{
    flex: 1;
  }
  .ionicon{
    width: 32px!important;
    height: 32px!important;
    color: white !important;
  }
  .iconss{
    gap: 1rem;
    margin-top: 1rem;
  }
  .iconss svg {
    color: #fff!important;
  
}
footer ul li {
  cursor: pointer;
  margin: .8rem;
}
@media (max-width: 768px){
  .list_header{
    display: none;
  }
  .txt_container:not(.disc){
    padding: 8px;
    font-size: 1rem;
    top: 20%;
    min-width: auto;
  }
  .product_cards {
  
    grid-template-columns: repeat(2,1fr);
    gap: .8rem;
    padding: 0.3rem;
}

.qr_code{
  gap: 1rem;
}
footer{
  flex-direction: column;
}
.list_phone{
  display: block !important;
}

}
.list_phone{
  display: none;
}
.overlay_menu{
  position: fixed !important;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  
 
  display: none;
}
.overlay_menu div{
 width: 80%;
   background: #f4dbbb;
   height: 100%;
   padding: 1rem;
   
}
.overlay_menu .logo img{
height: 100%;
width: 100%;
}
.overlay_menu .logo {
  height: 150px;
  width: 100%;
  
  
  }
.overlay_menu ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

